.topbody{
background-image:url(../img/h_img.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 700px;
padding: 1em;
margin: 0.5em;
}
.oletter{
    font-size: 70px;
    height: 60px;
    width: 60px;
}
.dletter{
    font-size: 30px;
    height: 20x;
    width: 200px;
}
.text{
color: white;
text-align: center;
margin: auto;
font-weight: bold;
bottom: 50px;
padding: 300px;
    
}
.about{
    text-align: center;
}
.services{
    background-image: url(../img/s_image.jpg);
    height: 300px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 100px;
    font-size: larger;
    background-size: cover;
}
.what{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.designicon{
float: left;
width: 400px;
height:400px 
}

.devicon{
width: 400px;
height:400px    
}
.producticon{
    
width: 400px;
height:400px 
}
.iconcontainer{
display: flex;
text-align: center;
}

